################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/saga-gis/bin
